html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0 90px;
  width: 100%;
}

.gradient-navbar {
  background: linear-gradient(90deg, #000428 0%, #004e92 100%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  color: #ffffffcc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #ffffff;
}

.navbar-brand i {
  color: #ffffff;
}

@media (max-width: 576px) {

  .navbar .container-fluid {
    padding: 20px;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}